* {
    box-sizing: border-box;
}
.wrap{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    column-gap: 50px;
}
.card-wrap{
    width: 300px;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    align-items: center;
}
.card-icon{
    border: 1px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25px;
    background: white;
}
.fa-solid{
    font-size: 32px;
    color: green;
}
.card-border{
    width: 100%;
    height: 375px;
    border: 1px solid black;
    padding: 75px 30px 30px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}
.card-heading{
    text-align: center;
    color: black;
    margin: 0 0 50px;
    font-family: Open-sans, sans-serif;
}
.card-text{
    text-align: center;
    color: black;
    margin: 0 0 40px;
    font-family: Open-sans, sans-serif;
}
.card-button{
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: black;
    width: 70%;
    padding: 15px 0;
    text-align: center;
    border: 1px solid black;
}