html, body, main{
    width: 100%;
}
p{
    text-align: center;
    color: cornsilk;
    font-family: Verdana, sans-serif;
    font-size: 36px;
    font-weight: 600;
}
.one-two-wrap{
    height: 150px;
    display: flex;
    flex-flow: row;
    column-gap: 15px;
    margin: 0 0 15px 0;
}
.flex-bg{
    background: #6a7e85;
    display: flex;
    justify-content: center;
    align-items: center;
}
.one{
    height: 150px;
    width: 15%;
}
.two{
    height: 150px;
    width: 84%;
}
@media screen and (min-width: 992px){
    .mobile-eight-nine-wrap{
        display: none;
    }
    .mobile-eight{
        display: none;
    }
    .mobile-nine{
        display: none;
    }
}
.three-four-five-six-seven-eight-nine-wrap{
    display: flex;
    column-gap: 15px;
    width: 100%;
}
.three-eight-nine-wrap{
    width: 15%;
    display: flex;
    flex-flow: column wrap;
}
.three{
    height: 700px;
    margin: 0 0 15px 0;
}
.eight-nine{
    height: 400px;
    margin: 0 0 15px 0;
}
.four-five-six-seven-wrap{
    display: flex;
    flex-flow: column;
    width: 85%;
}
.four-five-wrap{
    display: flex;
    column-gap: 15px;
    margin: 0 0 15px 0;
}
.four{
    width: 70%;
    height: 600px;
}
.five{
    width: 30%;
}
.six-seven-wrap{
    display: flex;
    column-gap: 15px;
    margin: 0 0 15px 0;
}
.six {
    width: 70%;
    height: 915px;
}
.seven{
    width: 30%;
}
.ten-footer{
    height: 200px;
}
.mobile-eight-nine-wrap{
    display: flex;
    column-gap: 15px;
    margin: 0 0 15px 0;
}
.mobile-eight{
    width: 50%;
    height: 250px;
}
.mobile-nine{
    width: 50%;
}

@media screen and (max-width: 992px){
    .eight-nine{
        display: none;
    }
    .three-four-five-six-seven-eight-nine-wrap{
        flex-flow: column;
    }
    .three-eight-nine-wrap{
        width: 100%;
    }
    .four-five-six-seven-wrap{
        width: 100%;
    }
    .six-seven-wrap{
        display: flex;
        flex-flow: column;
    }
    .six{
        width: 100%;
        margin: 0 0 15px 0;
    }
    .seven{
        width: 100%;
        height: 300px;
    }

}