*{
    box-sizing: border-box;
}
h2{
    margin: 0;
}
p{
    margin: 0;
}
body{
    padding: 10px 10px 10px 10px;
}
.section-main{
    height: 300px;
    background: darkslategrey;
    width: 100%;
    margin: 0 0 25px 0;
}
.section-flex-border{
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text-heading{
    color: cornsilk;
    font-family: Verdana sans-serif;
    font-size: 42px;
}
.section-widgets{
    height: 300px;
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    margin: 0 0 20px 0;
}
.widget{
    height: 300px;
    background: #540439;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32%;
}
.text-widget{
    color: cornsilk;
    font-size: 18px;
    font-family: Verdana sans-serif;
}
.section-foot{
    height: 500px;
    background: darkslategrey;
    width: 100%;
}
.row-bar{
    min-height: 150px;
    display: flex;
    justify-content: center;
}
.card{
    width: 250px;
    border: #1d4f5a solid 1px;
    padding: 60px 20px 20px 20px;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 15px 0 0;
}
.heading{
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}
.services-block-text{
    font-size: 36px;
    font-family: 'Open Sans';
    font-weight: 600;
    color: #4e2600;
}
.main-text{
    text-align: center;
    margin: 0 0 30px 0;
}
.kinda-button{
    border: #1d4f5a solid 1px;
    width: 70%;
    text-align: center;
    padding: 10px;
}
.btn-text{
    margin: 0;
}
.services-block{
    width: 100%;
    min-height: 400px;
    background: rgba(85, 94, 94, 0.04);
}
.cards-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0 0 50px 0;
}
.card-service{
    width: 250px;
    height: 350px;
    padding: 40px 5px 20px 5px;
    margin: 0 25px 10px 0;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    background: #ffffff;
    box-shadow: 6px 6px 14px 0 rgba(124, 124, 124, 0.22);
}
.card-service:last-child{
    margin: 0;
}
.fa-solid{
    font-size: 36px;
    color: darkorange;
}
.icon{
    margin: 0 0 20px 0;
}
.card-heading-text{
    font-size: 28px;
    margin: 0 0 20px 0;
    color: #6b5548;
    font-weight: 500;
    font-family: "Open Sans";
}
.card-text-block{
    text-align: center;
    margin: 0 0 40px 0;
}
.card-text{
    color: #7c7c7c;
    font-family: "Open Sans";
}
.card-button{
    width: 60%;
    height: 45px;
    background: lightgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 500ms;
}
.card-button:hover{
    background: #5da45d;
}
.card-button-text{
    color: #ffffff;
    font-family: "Open Sans SemiBold";
}
.smth-else{
    background: #3aa73a;
    display: flex;
    padding: 50px 20px 50px 20px;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.column{
    display: flex;
    flex-flow: column wrap;
    width: 40%;
    margin: 0 15px 0 0;
}
.column:last-child{
    margin: 0;
}
.static{
    border-radius: 5px;
    background: #fff9f8;
    min-height: 100px;
    width: 100%;
    padding: 10px 15px 15px 10px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 0 15px 0;
}
.static-icon{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.static-content{
    width: 80%;
}
.static-heading{
    color: #5b949b;
    margin: 0 0 10px 0;
    font-family: "Open Sans SemiBold";
    font-size: 30px;
}
.static-icon > i{
    font-size: 50px;
    color: darkslategrey;
    transition-duration: 500ms;
}
.static-icon > i:hover{
    color: darkcyan;
}
.static-text{
    font-family: "Open Sans";
    font-weight: 400;
    font-size: 14px;
}